pipeline/pipeline/Copy OnPremRentals Data.json
{
	"name": "Copy OnPremRentals Data",
	"properties": {
		"activities": [
			{
				"name": "Copy Actors",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "outputFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Actors",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "actors.csv",
							"filepath": {
								"value": "@variables('outputFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Customers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Actors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Customer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "customers.csv",
							"filepath": {
								"value": "@variables('outputFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy MovieActors",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MovieActors",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "movieactors.csv",
							"filepath": {
								"value": "@variables('outputFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Movies",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy MovieActors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Movies",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "movies.csv",
							"filepath": {
								"value": "@variables('outputFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy OnlineMovieMappings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Movies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OnlineMovieMappings",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "onlinemoviemappings.csv",
							"filepath": {
								"value": "@variables('outputFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Transactions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy OnlineMovieMappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Transactions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "transactions.csv",
							"filepath": {
								"value": "@variables('outputFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "MoveData",
				"type": "SqlServerStoredProcedure",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[MoveData]",
					"storedProcedureParameters": {
						"DateToMove": {
							"value": {
								"value": "@pipeline().parameters.executionDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SwitchIn": {
							"value": "True",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "VanArsdelLtdOnPrem",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "outputFolder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MoveData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "outputFolder",
					"value": {
						"value": "@concat('//southridge/vanarsdelltd/onpremrentals/', substring(pipeline().parameters.executionDate, 0, 4) , '/' , substring(pipeline().parameters.executionDate, 5, 2),   '/' , substring(pipeline().parameters.executionDate, 8, 2), '/' )",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"executionDate": {
				"type": "String",
				"defaultValue": "2018-01-01"
			}
		},
		"variables": {
			"outputFolder": {
				"type": "String"
			}
		}
	}
}