pipeline/pipeline/southridge-cloudsales.json
{
	"name": "southridge-cloudsales",
	"properties": {
		"description": "southridge-cloudsales",
		"activities": [
			{
				"name": "Copy Address",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Variable CloudSalesFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudSalesAddress",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "address.csv",
							"filepath": {
								"value": "@variables('cloudsalesFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Customers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudSalesCustomer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "customers.csv",
							"filepath": {
								"value": "@variables('cloudsalesFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Orders",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudSalesOrders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "orders.csv",
							"filepath": {
								"value": "@variables('cloudsalesFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Order Details",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudSalesOrderDetails",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "ordersdetails.csv",
							"filepath": {
								"value": "@variables('cloudsalesFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Variable CloudSalesFolder",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "cloudsalesFolder",
					"value": "\"southridge/southridge/cloudsales\" & substring(pipeline().parameters.executionDate, 0, 4) & substring(pipeline().parameters.executionDate, 5, 2) & substring(pipeline().parameters.executionDate, 8, 2) "
				}
			}
		],
		"parameters": {
			"executionDate": {
				"type": "String",
				"defaultValue": "2017-12-31"
			}
		},
		"variables": {
			"cloudsalesFolder": {
				"type": "String",
				"defaultValue": "cloudsales"
			}
		},
		"folder": {
			"name": "CloudSales"
		}
	}
}