pipeline/pipeline/southridge-cloudstreaming.json
{
	"name": "southridge-cloudstreaming",
	"properties": {
		"description": "southridge-cloudstreaming",
		"activities": [
			{
				"name": "Copy Address",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set cloudstreamingFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudStreamingAddress",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "address.csv",
							"filepath": {
								"value": "@variables('cloudstreamingFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Customer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudStreamingCustomer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "customer.csv",
							"filepath": {
								"value": "@variables('cloudstreamingFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Transactions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CloudStreamingTransactions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "southridge_7_adls",
						"type": "DatasetReference",
						"parameters": {
							"filename": "transactions.csv",
							"filepath": {
								"value": "@variables('cloudstreamingFolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set cloudstreamingFolder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Move Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "cloudstreamingFolder",
					"value": {
						"value": "@concat('//southridge/southridge/cloudstreaming/', substring(pipeline().parameters.executionDate, 0, 4) , '/' , substring(pipeline().parameters.executionDate, 5, 2),   '/' , substring(pipeline().parameters.executionDate, 8, 2), '/' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Move Data",
				"type": "SqlServerStoredProcedure",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[MoveData]",
					"storedProcedureParameters": {
						"DateToMove": {
							"value": {
								"value": "@pipeline().parameters.executionDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SwitchIn": {
							"value": "True",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CloudStreaming",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"executionDate": {
				"type": "String",
				"defaultValue": "2018-01-01"
			}
		},
		"variables": {
			"cloudstreamingFolder": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CloudStreaming"
		}
	}
}